.wrapper {
  width: 80%;
  margin: auto;
  height: 100%;
  //padding: 25% 0;
}

.text {
  text-align: -webkit-center;
  padding: 3vh 0;
}

h1 {
  font-weight: bold;
  padding-top: 8%;
}

.logo {
  height: 50vh;
}

.btnHome {
  float: left;
  margin: 5vw;
}
