.contentWrapper {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;

  position: relative;
  text-align: center;
}

.container {
  background-color: #bfdeff;
}
body {
  margin: 0px !important;
}
