.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
}

.input {
  border: 3px solid #7fb142;
  border-radius: 10px;
  font-size: 2vh;
  width: 30vw;
  height: 6vh;
}

.label {
  color: white;
}

input {
  border: 3px solid #7fb142;
  border-radius: 25px;
  font-size: 4vh;
  width: 30vw;
}

.passwordlabel {
  margin-top: 10px;
}

.buttonsubmit {
  margin-top: 10px;
}

.background {
  width: 100vw;
  height: 100vh;
  text-align: -webkit-center;

  background-image: url("../../assets/dysfunctionalFamily.jpg");
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}

.formdiv {
  width: fit-content;
  background-color: #ffffff30;
  padding-bottom: 40px;
  display: inline-block;
  box-shadow: 0px 0px 5px 8px #ffffff30;
}

.buttonGroup {
  width: 100%;
  text-align: right;
  padding: 30px;
}
